<!DOCTYPE html>
<html>
<head>
  <title>Visitors</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-4">

<h2>Listado de Visitantes</h2>

<table class="table table-bordered mt-3">
  <thead class="table-dark">
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Empresa</th>
    <th>Entrada</th>
  </tr>
  </thead>
  <tbody id="visitorTable">
  </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/visitors/visitors.js"></script>

</body>
</html>